a {
  text-decoration: none !important;
}
.custom-shape-divider-bottom-1638485392 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.custom-shape-divider-bottom-1638485392 svg {
  position: relative;
  display: block;
  width: calc(258% + 1.3px);
  height: 50vh;
}

.custom-shape-divider-bottom-1638485392 .shape-fill {
  fill: #19263b2a;
}
